.orderbody[data-v-35f32205]{margin:100px auto;width:350px}.el-dropdown-link[data-v-35f32205]{cursor:pointer;color:#fff}.el-icon-arrow-down[data-v-35f32205]{font-size:12px}.btn[data-v-35f32205]{margin-top:20px}.selectmall[data-v-35f32205]{width:300px;height:50px;border-radius:5px}